<div class="avatar" style="background-image: linear-gradient(rgba(100,10,110,0.2), rgba(100,10,110,0.2)), url('<%= cl_image_path spot.avatar.path %>')">
        <div>
      <h1><strong><%= @spot.name %></strong></h1>
    </div>
</div>

