<% if user_signed_in? %>
  <div>
    <% if @favorite.id.nil? %>
      <%= simple_form_for [@spot, @favorite] do |f| %>
        <% f.button :button, type: :submit, class: 'empty-heart' do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to :delete, favorite_path(@favorite, :redirect_url => spot_path(@spot)), class: "fa fa-heart-o", method: :delete %>
    <% end %>
  </div>
<% else %>
    <%= simple_form_for [@spot, @favorite] do |f| %>
        <% f.button :button, type: :submit, class: 'empty-heart' do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        <% end %>
    <% end %>
<% end %>
