<div class='checkin-avatar'>
  <% @spot.checkins.each do |checkin| %>
    <% if checkin.date == @date.to_date  %>
      <div class='col-xs-4'>
        <div class='text-center'>
           <%= link_to user_path(checkin.user) do %>
              <%= cl_image_tag checkin.user.avatar.path, class: "avatar-checkin" %>
              <p class= "text center" style="    font-weight: bold; font-size: small;"><%= checkin.user.first_name %></p>
            <% end %>
        </div>
      <% end  %>
    </div>
  <% end %>
</div>
