<div class="container">
  <div class="tabs">
      <%= link_to "Profile", user_path(current_user), class: "btn-medium" %>
      <h2>Your favorites spots</h2>
  </div>
  <div class="favorites text-center">
    <% @favorites.spot.each do |favorite| %>
    <div class="col-xs-12 col-sm-6 col-md-4 cards-dimension">
        <div class="card">
          <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.05)), url('<%= cl_image_path spot.avatar.path %>')">
            <span class="card-name"><%= favorite.spot.name %></span>
            <a class="card-link" href="<%= spot_path(spot) %>"></a>
          </div>
        </div>
      </div>
  <% end %>
</div>
