.boby {
  background: white;
}
.container {
  background-size: cover;
}

video#bgvid {
  left: 0;
  top: 0;
  width: 100%;
  z-index: -100;
  background-size: cover;
  position: absolute;
}


#home-map {
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: -70px;
}
#banner-wrap {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  padding-top: 150px;
}
.map-content.text-center {
  text-align: left;
  margin-left: 45px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 80px;
    padding: 0px;
    color: white;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px $blue;
    }
  h2 {
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    text-shadow: 1px 1px 2px $blue;
    height: 82px;
    }
  label {
    clear:left;
    text-align:right;
    padding-right:10px;
    color: white;
    text-shadow: 1px 1px 2px $blue;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 15px;
    }
  .form-control {
    width: 15%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 0px;
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
}
.btn-wekite {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: lighter;
}
.btn-wekite:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #999999;
}
.search-field {
    width: 15%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
}
.what-is-it {
  background: rgba(0, 0, 0, 0.5);

  padding-bottom: 50px;
  color: white;
  h2 {
    margin-top: 30px;
  }
}
.row {
  display: block;
  margin-top: 10px;
}
.footer-home {
  margin-top: 30px;
  margin-bottom: -45px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 10px;
}
.footer-home-left {
  display: flex;
  justify-content: space-between;

}
.logo-footer-home {
  height: 40px;
}
.footer-home-right {
  display: flex;
  justify-content: space-between;
}
.fa-heart:before {
  font-size: 20px;
  vertical-align: text-top;
}
.fa-facebook:before {
    font-size: 20px;
    color: white;
  }
.fa-instagram:before {
    font-size: 20px;
    color: white;
  }
.fa-youtube:before {
    font-size: 20px;
    color: white;
  }



// Specific CSS for your home-page
