.spot-picture {
  height: 500px;
  background-position: center;
  position: relative;
  margin-bottom: 30px;
}

.spot-pic {
  padding: 0;
}

.button-heart {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.spot-name {
  font-weight: bold;
  margin-top: 0px;
}

.reviews-title{
  font-weight: bold;
}

.spot-infos {
  border-bottom: 1px solid #787979;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.btn-blue {
  width: 100%;
  padding: 10px 0px;
  border-radius: 3px;
  color: white;
  background-color: #002C6A;
  border: none;
}

.btn-blue:hover {
  background-color: #043586;
  color: white;
}

.btn-danger {
  width: 100%;
  padding: 10px 0px;
  border-radius: 3px;
  color: white;
  background-color: #BA010A;
  border: none;
  text-decoration: none;
}

.left-side {
  padding-right: 25px;
}

.fixed-box {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.06);
  border: 1px solid #787979;
  padding: 25px;
}

.btn-white {
  width: 100%;
  padding: 10px 0px;
  border-radius: 3px;
  color: black;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
}

.btn-white:hover {
    border: 1px solid #474848;
    color: #474848;
  }

.avatar-review {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.reviews-display {
  margin-top: 30px;
}

.each-review {
  border-bottom: 1px solid #787979;
  margin-bottom: 20px;
  position: relative;
}

.user-name {
  position: relative;
  left: 57px;
  top: -37px;
}

.review-comment {
  padding: 0px 15px;
  font-size: medium;
  position: relative;
  top: -10px;
}

.review-spot.spot-stars {
  position: absolute;
  top: 9px;
  left: 455px;
}

.review-spot {
  .fa-star:before {
    font-size: 20px;
    color: gold;
  }
  .fa-star-half-o:before {
    font-size: 20px;
    color: gold;
  }
}

.user-name h5 {
  margin: 0px;
  font-weight: bold;
  font-size: small;
}

.user-name h6 {
  margin: 0px;
  padding: 3px 0px;
  font-size: small;
}

.review-side {
  display: flex;
  justify-content: space-between;
  .bottom-title {
    margin: 15px 0px 0px 0px;
  }
  .top-title {
    margin: 15px 0px 0px 0px;
  }
}

.review-side.right {
  margin-left: 40px;
}

.review-stars {
  margin: 12px 0px 0px 0px;
}

.access-stars {
  margin: 8px 0px 0px 0px;
}

.environment-stars {
  margin: 8px 0px 0px 0px;
}

.review-button {
  margin-top: 30px;
}

.right-side {
  padding-right: 0px;
}

.avatar-checkin {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

