<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/sev_clmnt/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/thibaud.marce"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Ride with <i class="fa fa-heart"></i>
  </div>
</div>
