.card-body {
  height: 268px;
  width: 310px;
  background-size: cover !important;
  background-position: center;
  position: relative;
}

.cards-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.4);
  width: 309px;
  background-color: white;
  height: 241px;
  margin-top: 11px;
}

.card-name {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 15px;
  margin: 10px;
  text-decoration: none !important;
      position: absolute;
    top: -21px;
    left: -15px;
}

.weather-card {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
  position: relative;
  height: 44px;
  align-items: center;
}
  .fa-sun-o:before {
  color: black;
  font-size: 34px;
  }
  .fa-flag:before {
  color: black;
  font-size: 34px;
  }


