.card-body {
  height: 221px;
  width: 310px;
  background-size: cover !important;
  background-position: center;
  position: relative;
}

.cards-container {
  display: flex;
  flex-direction: row;
  width: 309px;
  height: 241px;
}

.cards-dimension {
  display: block;
  background-color: white;
  position: relative;
  bottom: -45px;
  height: 38px;
}

.card-name {
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding: 15px;
  margin: 10px;
  text-decoration: none !important;
  position: absolute;
  top: -67px;
  left: -15px;
  width: 315px;
  height: 57px;
  padding: 7px;
  background-color: hsla(0, 0%, 87%, 1);
  border-top: 1px dashed white;
}

.weather-card {
  display: flex;
  justify-content: space-around;
  background-color: hsla(0, 0%, 87%, 1);
  position: relative;
  height: 110px;
  align-items: center;
}



