.arrow {
  position: relative;
}

.arrows-direction {
  display: flex;
  justify-content: space-evenly;
}

.fa-angle-right:before {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none !important;
}

.fa-angle-left:before {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none !important;
}


