.arrow {
      position: absolute;
    bottom: 0;
    background-color: #002c6a;
    left: 0;
    right: 0;
}

.arrows-direction {
  display: flex;
  justify-content: space-evenly;
  a{
   &:hover{
    text-decoration: none;
    color: grey !important;
    }
  }
}

.fa-angle-right:before {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none !important;
}

.fa-angle-left:before {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none !important;
}


