// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";
@import "vendor/star-rating.min";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


.carousel {
  background-color: #E2E2E2;
}

.main-container.side-flow {
  display: flex;
  flex-direction: row;
}

#carousel-next {
  position: absolute;
  bottom: 7px;
  right: 140px;
}

#carousel-back {
  position: relative;
  top: 292px;
  right: -133px;
}

.fa-angle-right:before {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.fa-angle-left:before {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}
