// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";
@import "vendor/star-rating.min";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.simple_form.new_user {
  label {
    font-size: 0.75em;
  }
  textarea {
    resize: none;
    width: 100% !important;
  }

  .two-col {
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .two-col .form-group {
      width: 45%;
  }

  input[type=text], input[type=number], input[type=email], textarea {
    color: black;
    }
}



.carousel {
  background-color: rgba(0, 0, 0, 0.5) ;
  width: 310px;
  height: 100vh !important;
  padding-top: 80px;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}



